.heading{
    width: calc(100% - 20px);
    padding: 0px 10px 0px 10px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat';
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    width: 300px;
}
.card:hover{
    box-shadow: 10px 10px 70px -17px rgba(0,0,0,1);
-webkit-box-shadow: 10px 10px 70px -17px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 70px -17px rgba(0,0,0,1);
}

.content{
    width: calc(100% - 20px);
    padding: 0px 10px 0px 10px;
    font-family: 'Montserrat';
}

.but{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
}

.notice{
    cursor: pointer;
}