.me{
  border-radius: 50%;
}

.screen{
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.screen p{
  width: 800px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.screen h4{
  color: white;
  font-family: 'Montserrat', sans-serif;
}